<?xml version="1.0" encoding="utf-8"?>

urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9", xmlns:xhtml="http://www.w3.org/1999/xhtml")
    each page in pages
      url
        loc=page.url
        each l in languages
          - url = page.url + '?lang=' + l.value
          xhtml:link(rel="alternate", hreflang=l.value, href=url)
    each story in stories
      url
        loc=story.url
        each l in languages
          - url = story.url + '?lang=' + l.value
          xhtml:link(rel="alternate", hreflang=l.value, href=url)
    each doc in docs
      url
        loc=doc.url
        each l in languages
          - url = doc.url + '?lang=' + l.value
          xhtml:link(rel="alternate", hreflang=l.value, href=url)
